.results {
    text-align: center;
    overflow: hidden;
    & .__results__top {
        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-top: 50px;
            color: $primary-light;
            @include breakpoints-down(medium) {
                font-size: 45px;
            }
            @include breakpoints-down(small) {
                font-size: 40px;
            }
        }

        p {
            font-weight: 400;
            font-size: 35px;
            @include breakpoints-down(medium) {
                font-size: 25px;
            }
            @include breakpoints-down(small) {
                font-size: 20px;
            }
        }
    }
    & .main__img {
        img {
            box-shadow: 0 2px 5px 2px rgb(173, 169, 169);
            height: 600px;
            width: 450px;
            margin-bottom: 20px;
            margin-top: 50px;
        }
    }
    & .__results__img {
        margin: 50px 0px;
        img {
            height: 137px;
        }
    }
    & .__results__bottom__img {
        @include max-width;
        padding-bottom: 100px;

        img {
            width: 100%;
            height: 600px;
        }
        & .__section__one__img {
            img {
                box-shadow: 0 2px 5px 2px rgb(173, 169, 169);
                height: 600px;
                width: 450px;
                margin-bottom: 50px;
                margin-top: 50px;
            }
        }
        & .__section__two__img {
            img {
                height: 600px;
                width: 450px;
                margin-bottom: 80px;
            }
        }
    }
}

// .swiper-button-next {
//     width: 48px;
//     height: 48px;
//     top: 500px !important;
//     right: 18%;
//     border-radius: 50%;
//     background-color: #ff6606;
// }
// .swiper-button-prev {
//     width: 48px;
//     height: 48px;
//     top: 500px !important;
//     left: 76%;
//     border-radius: 50%;
//     background-color: #ff6606;
// }
// .swiper-button-next::after,
// .swiper-button-prev::after {
//     color: white;
//     font-size: 15px;
// }
