.service {
    text-align: center;
    @include max-width;
    overflow-x: hidden;
    & .__service__top {
        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-top: 50px;
            color: $primary-light;
            @include breakpoints-down(medium) {
                font-size: 45px;
            }
            @include breakpoints-down(small) {
                font-size: 40px;
            }
        }

        p {
            font-weight: 400;
            font-size: 35px;
            @include breakpoints-down(medium) {
                font-size: 25px;
            }
            @include breakpoints-down(small) {
                font-size: 20px;
            }
        }
    }

    & .__service__img {
        margin: 50px 0px;
        > img {
            width: 137px;
        }
    }

    & .__service__card {
        padding: 0px 20px;

        & .__service__card__body {
            // background: url("../../images/automatedecom-img001.jpg");
            background-color: #047aa7b5;
            box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3),
                0 15px 12px rgba(0, 0, 0, 0.22);
            margin-top: 20px;
            padding: 10px;
            background-attachment: fixed;
            background-position: center center;
            border-radius: 20px;
            margin-bottom: 80px;
            min-height: 550px;
            & .__card_icon {
                color: #e6fbffe8;
                margin-top: 30px;
                // color: $primary-dark;
            }

            & .card-title {
                font-size: 45px;

                color: #e6fbffe8;
                @include breakpoints-down(medium) {
                    font-size: 45px;
                }
                @include breakpoints-down(small) {
                    font-size: 40px;
                }
            }

            & .card-text {
                color: #fffdfd;
                font-weight: 400;
                font-size: 25px;
                @include breakpoints-down(medium) {
                    font-size: 25px;
                }
                @include breakpoints-down(small) {
                    font-size: 20px;
                }
            }
        }
    }
}
