@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f7feff !important;
}

.nav {
  max-width: 1250px;
  margin: 0px auto;
  padding: 10px 0px;
}

@media (max-width: 64em) {
  .nav {
    width: 95%;
  }
}

.nav img {
  width: 150px;
  height: 80px;
}

@media (max-width: 39.9375em) {
  .nav img {
    width: 200px;
  }
}

@media (max-width: 25em) {
  .nav img {
    width: 120px;
  }
}

.nav__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 64em) {
  .nav__right {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    background-color: #0d3c61;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 900;
  }
}

.nav__right > a {
  color: #555555;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 64em) {
  .nav__right > a {
    color: white;
    margin-left: 0px;
    font-size: 20px;
    margin: 10px 0px;
  }
  .nav__right > a:hover {
    color: white;
  }
}

.nav__right > a:last-child {
  color: white;
  background-color: #188ba5;
  padding: 10px 15px;
  border-radius: 15px;
}

@media (max-width: 64em) {
  .hamburger__menu__active {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
}

.menu-wrapper {
  background-color: white;
  display: none;
  place-items: center;
  width: 55px;
  height: 55px;
  margin: auto 0px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 15px #7889b6;
          box-shadow: 0 1px 15px #7889b6;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 64em) {
  .menu-wrapper {
    display: -ms-grid;
    display: grid;
    position: fixed;
    top: 10px;
    right: 15px;
  }
}

.menu-wrapper .hamburger-menu {
  width: 25px;
  height: 5px;
  position: relative;
  background-color: #0d3c61;
  -webkit-transition: all 5ms 300ms;
  transition: all 5ms 300ms;
  border-radius: 2px;
}

.menu-wrapper .hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 5px;
  background-color: #0d3c61;
  border-radius: 2px;
}

.menu-wrapper .hamburger-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 30px;
  height: 5px;
  background-color: #0d3c61;
  border-radius: 2px;
}

.menu-wrapper .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.menu-wrapper .hamburger-menu.animate:after {
  top: 0;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-wrapper .hamburger-menu.animate:before {
  bottom: 0;
  width: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.landing {
  padding-top: 130px;
  padding-bottom: 130px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d3c61), to(rgba(45, 135, 206, 0.7))), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background: linear-gradient(#0d3c61, rgba(45, 135, 206, 0.7)), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center center;
  border-top: 5px solid rgba(0, 0, 0, 0.33);
  border-bottom: 5px solid rgba(0, 0, 0, 0.33);
  text-align: center;
  overflow-x: hidden;
}

.landing__top {
  background-color: #d3efff;
  padding: 90px 20px 70px 20px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  max-width: 1250px;
  margin: 0px auto;
}

@media (max-width: 64em) {
  .landing__top {
    width: 95%;
  }
}

.landing__top h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px lightgray;
}

@media (max-width: 64em) {
  .landing__top h2 {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .landing__top h2 {
    font-size: 40px;
  }
}

.landing__top h2 > span {
  font-weight: 700;
  color: #096dbae8;
}

.landing__top p {
  font-weight: 400;
  font-size: 35px;
}

@media (max-width: 64em) {
  .landing__top p {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .landing__top p {
    font-size: 20px;
  }
}

.landing__bottom {
  max-width: 1250px;
  margin: 0px auto;
  margin-top: 60px;
}

@media (max-width: 64em) {
  .landing__bottom {
    width: 95%;
  }
}

@media (max-width: 25em) {
  .landing__bottom {
    padding: 0px 10px;
  }
}

.landing__bottom:hover {
  -webkit-animation: mymove 0.2s;
          animation: mymove 0.2s;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

.landing__bottom > a {
  text-decoration: none;
}

.landing__bottom > a > button {
  background: none;
  background-color: #188ba5;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 36px;
  padding: 15px 60px;
  border-radius: 10px;
}

@media (max-width: 64em) {
  .landing__bottom > a > button {
    font-size: 26px;
    padding: 15px 40px;
    border-radius: 10px;
  }
}

@media (max-width: 39.9375em) {
  .landing__bottom > a > button {
    font-size: 20px;
    padding: 15px 15px;
  }
}

.service {
  text-align: center;
  max-width: 1250px;
  margin: 0px auto;
  overflow-x: hidden;
}

@media (max-width: 64em) {
  .service {
    width: 95%;
  }
}

.service .__service__top h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 50px;
  color: #3997dfe8;
}

@media (max-width: 64em) {
  .service .__service__top h2 {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .service .__service__top h2 {
    font-size: 40px;
  }
}

.service .__service__top p {
  font-weight: 400;
  font-size: 35px;
}

@media (max-width: 64em) {
  .service .__service__top p {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .service .__service__top p {
    font-size: 20px;
  }
}

.service .__service__img {
  margin: 50px 0px;
}

.service .__service__img > img {
  width: 137px;
}

.service .__service__card {
  padding: 0px 20px;
}

.service .__service__card .__service__card__body {
  background-color: #047aa7b5;
  -webkit-box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-top: 20px;
  padding: 10px;
  background-attachment: fixed;
  background-position: center center;
  border-radius: 20px;
  margin-bottom: 80px;
  min-height: 550px;
}

.service .__service__card .__service__card__body .__card_icon {
  color: #e6fbffe8;
  margin-top: 30px;
}

.service .__service__card .__service__card__body .card-title {
  font-size: 45px;
  color: #096dbae8;
}

@media (max-width: 64em) {
  .service .__service__card .__service__card__body .card-title {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .service .__service__card .__service__card__body .card-title {
    font-size: 40px;
  }
}

.service .__service__card .__service__card__body .card-text {
  color: #fffdfd;
  font-weight: 400;
  font-size: 25px;
}

@media (max-width: 64em) {
  .service .__service__card .__service__card__body .card-text {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .service .__service__card .__service__card__body .card-text {
    font-size: 20px;
  }
}

.horizontal__line {
  text-align: center;
}

.horizontal__line ._hr {
  margin-top: 0rem;
  margin-bottom: -0.25rem;
  border: 0;
  border-top: 5px solid #3997dfe8;
}

.watch__container {
  padding: 80px 20px;
  max-width: 1250px;
  margin: 0px auto;
  overflow-x: hidden;
}

@media (max-width: 64em) {
  .watch__container {
    width: 95%;
  }
}

.watch__container h2 {
  font-size: 36px;
}

@media (max-width: 64em) {
  .watch__container h2 {
    margin-top: -40px;
    font-size: 35px;
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .watch__container h2 {
    margin-top: -40px;
    font-size: 35px;
    text-align: center;
  }
}

.watch__container h2 span {
  font-weight: 700;
  color: #3997dfe8;
}

.watch__container .schedule__btn {
  font-size: 30px;
  margin-top: 50px;
}

@media (max-width: 64em) {
  .watch__container .schedule__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.watch__container .schedule__btn:hover {
  -webkit-animation: mymove 0.2s;
          animation: mymove 0.2s;
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

.watch__container .schedule__btn > a > button {
  text-decoration: none;
  background-color: #188ba5;
  color: white;
  font-size: 30px;
  padding: 15px 30px;
  font-weight: 600;
  border: none;
}

@media (max-width: 64em) {
  .watch__container .schedule__btn > a > button {
    font-size: 26px;
    padding: 15px 40px;
    margin-bottom: 25px;
    border-radius: 10px;
  }
}

@media (max-width: 39.9375em) {
  .watch__container .schedule__btn > a > button {
    font-size: 20px;
    padding: 15px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
  }
}

.automated {
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d3c61), to(rgba(45, 135, 206, 0.7))), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background: linear-gradient(#0d3c61, rgba(45, 135, 206, 0.7)), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}

.automated p {
  font-weight: 400;
  font-size: 35px;
  padding: 50px;
}

.automated p span {
  font-weight: 700;
}

@media (max-width: 64em) {
  .automated p {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .automated p {
    font-size: 20px;
  }
}

.results {
  text-align: center;
  overflow: hidden;
}

.results .__results__top h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 50px;
  color: #3997dfe8;
}

@media (max-width: 64em) {
  .results .__results__top h2 {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .results .__results__top h2 {
    font-size: 40px;
  }
}

.results .__results__top p {
  font-weight: 400;
  font-size: 35px;
}

@media (max-width: 64em) {
  .results .__results__top p {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .results .__results__top p {
    font-size: 20px;
  }
}

.results .main__img img {
  -webkit-box-shadow: 0 2px 5px 2px #ada9a9;
          box-shadow: 0 2px 5px 2px #ada9a9;
  height: 600px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.results .__results__img {
  margin: 50px 0px;
}

.results .__results__img img {
  height: 137px;
}

.results .__results__bottom__img .__section__one__img img {
  -webkit-box-shadow: 0 2px 5px 2px #ada9a9;
          box-shadow: 0 2px 5px 2px #ada9a9;
  height: 600px;
  width: 450px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.results .__results__bottom__img .__section__two__img img {
  height: 600px;
  width: 450px;
  margin-bottom: 80px;
}

.getStart {
  text-align: center;
  overflow-x: hidden;
  max-width: 1250px;
  margin: 0px auto;
}

@media (max-width: 64em) {
  .getStart {
    width: 95%;
  }
}

.getStart .__getStart__top h2 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 50px;
  color: #3997dfe8;
}

@media (max-width: 64em) {
  .getStart .__getStart__top h2 {
    font-size: 45px;
    margin-top: 35px;
  }
}

@media (max-width: 39.9375em) {
  .getStart .__getStart__top h2 {
    font-size: 40px;
    margin-top: 30px;
  }
}

.getStart .__getStart__top p {
  margin-top: 30px;
  color: #000;
  font-weight: 400;
  font-size: 22px;
  padding: 0px 100px;
}

@media (max-width: 64em) {
  .getStart .__getStart__top p {
    font-size: 25px;
    padding: 0px 15px;
  }
}

@media (max-width: 39.9375em) {
  .getStart .__getStart__top p {
    font-size: 20px;
  }
}

.getStart .schedule__btn {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.getStart .schedule__btn:hover {
  -webkit-animation: mymove 0.2s;
          animation: mymove 0.2s;
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

@media (max-width: 39.9375em) {
  .getStart .schedule__btn {
    padding: 0px 10px;
  }
}

.getStart .schedule__btn > a > button {
  text-decoration: none;
  background-color: #188ba5;
  color: #fff;
  font-size: 50px;
  padding: 15px 100px;
  font-weight: 600;
  border: none;
}

@media (max-width: 64em) {
  .getStart .schedule__btn > a > button {
    font-size: 26px;
    padding: 15px 40px;
    border-radius: 10px;
  }
}

@media (max-width: 39.9375em) {
  .getStart .schedule__btn > a > button {
    font-size: 20px;
    padding: 15px 30px;
  }
}

.footer {
  background-color: #000;
  overflow-x: hidden;
}

.footer > div {
  max-width: 1250px;
  margin: 0px auto;
  padding: 40px 0px;
}

@media (max-width: 64em) {
  .footer > div {
    width: 95%;
  }
}

.footer p {
  color: white;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 64em) {
  .footer p {
    font-size: 26px;
  }
}

@media (max-width: 39.9375em) {
  .footer p {
    font-size: 18px;
  }
}

.footer p a {
  color: #fff;
  text-decoration: none;
}

.contact {
  border-top: 5px solid #3997dfe8;
  overflow-x: hidden;
}

.contact__body {
  max-width: 1250px;
  margin: 0px auto;
  -webkit-box-shadow: 1px 1px 7px gray;
          box-shadow: 1px 1px 7px gray;
  max-width: 870px;
  margin: 50px auto;
  background-color: #d5f4f9;
}

@media (max-width: 64em) {
  .contact__body {
    width: 95%;
  }
}

.contact__form {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form__top {
  text-align: center;
}

.contact__form__top > p:nth-of-type(1) {
  font-size: 40px;
  font-weight: 700;
  color: #096dbae8;
}

@media (max-width: 64em) {
  .contact__form__top > p:nth-of-type(1) {
    font-size: 25px;
  }
}

.contact__form__top > p:nth-of-type(2) {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 64em) {
  .contact__form__top > p:nth-of-type(2) {
    font-size: 18px;
  }
}

.contact__form__top > p:nth-of-type(2)::after {
  content: " Thank you!";
  font-style: italic;
  color: #096dbae8;
}

.contact__form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.contact__form > div input,
.contact__form > div textarea {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

@media (max-width: 64em) {
  .contact__form > div input,
  .contact__form > div textarea {
    font-size: 16px;
  }
}

.contact__form > div input:focus,
.contact__form > div textarea:focus {
  border: 1px solid #096dbae8;
}

.contact__form > div .error {
  border: 5px solid #b81c1c;
}

.contact__form > div .success {
  border: 5px solid #027502;
}

.contact__form > div label {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 64em) {
  .contact__form > div label {
    font-size: 16px;
  }
}

.contact__form button {
  background: #188ba5 !important;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.contact__form .success__box {
  margin-top: 20px;
}

.confirmation {
  padding-top: 250px;
  padding-bottom: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d3c61), to(rgba(45, 135, 206, 0.7))), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background: linear-gradient(#0d3c61, rgba(45, 135, 206, 0.7)), url(https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center center;
  border-top: 5px solid rgba(0, 0, 0, 0.33);
  border-bottom: 5px solid rgba(0, 0, 0, 0.33);
}

.confirmation > div {
  text-align: center;
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 1250px;
  margin: 0px auto;
}

@media (max-width: 64em) {
  .confirmation > div {
    width: 95%;
  }
}

.confirmation > div > p:nth-of-type(1) {
  font-size: 70px;
  font-weight: 700;
  color: #3997dfe8;
  letter-spacing: 5px;
}

.confirmation > div > p:nth-of-type(2) {
  font-size: 25px;
}

.home h2 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 50px;
  color: #3997dfe8;
  margin-bottom: 40px;
}

@media (max-width: 64em) {
  .home h2 {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .home h2 {
    font-size: 40px;
  }
}

.home__content {
  text-align: center;
  max-width: 1250px;
  margin: 0px auto;
  overflow-x: hidden;
}

@media (max-width: 64em) {
  .home__content {
    width: 95%;
  }
}

.home__card {
  padding: 0px 20px;
}

@media (max-width: 64em) {
  .home__card {
    padding: 0px 0px;
  }
}

@media (max-width: 39.9375em) {
  .home__card {
    padding: 0px 0px;
  }
}

.home .home__card__body {
  background-color: black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 80px;
  background-color: #047aa7b5;
  -webkit-box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.home__card_icon {
  margin-top: 30px;
  color: #e6fbffe8;
}

.home .card-title {
  font-size: 39px;
  color: #096dbae8;
}

@media (max-width: 64em) {
  .home .card-title {
    font-size: 45px;
  }
}

@media (max-width: 39.9375em) {
  .home .card-title {
    font-size: 40px;
  }
}

.home .card-text {
  color: #fffdfd;
  font-weight: 400;
  font-size: 25px;
}

@media (max-width: 64em) {
  .home .card-text {
    font-size: 25px;
  }
}

@media (max-width: 39.9375em) {
  .home .card-text {
    font-size: 20px;
  }
}

.home button {
  background: #188ba5 !important;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 20px;
  color: #fffdfd;
  border: none;
  margin-bottom: 10px;
}

@media (max-width: 64em) {
  .home button {
    font-size: 20px;
  }
}

@media (max-width: 39.9375em) {
  .home button {
    font-size: 20px;
  }
}

.trusted {
  background-color: #292f45;
  overflow-x: hidden;
  padding: 100px 0px;
  text-align: center;
}

.trusted > div:nth-child(1) {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.trusted > div:nth-child(1) > h2 {
  color: white;
  text-align: center !important;
  margin-bottom: 100px;
  max-width: 700px;
  font-size: 40px;
}

@media (max-width: 64em) {
  .trusted > div:nth-child(1) > h2 {
    font-size: 30px;
  }
}

.trusted > div {
  max-width: 1250px;
  margin: 0px auto;
  text-align: center;
}

@media (max-width: 64em) {
  .trusted > div {
    width: 95%;
  }
}

.trusted .img__box {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 64em) {
  .trusted .img__box {
    margin-bottom: 30px;
  }
}

.trusted img {
  background-color: #292f45;
  border: none;
  text-align: center;
}
/*# sourceMappingURL=App.css.map */