.home {
    // background-color: #f7feff;
    h2 {
        font-size: 50px;
        font-weight: 700;
        margin-top: 50px;
        color: $primary-dark;
        margin-bottom: 40px;

        @include breakpoints-down(medium) {
            font-size: 45px;
        }
        @include breakpoints-down(small) {
            font-size: 40px;
        }
    }
    &__content {
        text-align: center;
        @include max-width;
        overflow-x: hidden;
    }

    &__card {
        padding: 0px 20px;

        @include breakpoints-down(medium) {
            padding: 0px 0px;
        }
        @include breakpoints-down(small) {
            padding: 0px 0px;
        }
    }

    & .home__card__body {
        background-color: black;
        margin-top: 20px;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 80px;
        background-color: #047aa7b5;
        box-shadow: 0 19px 38px rgba(77, 75, 75, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
    }

    &__card_icon {
        margin-top: 30px;
        color: #e6fbffe8;
    }

    & .card-title {
        font-size: 39px;
        color: #e6fbffe8;
        @include breakpoints-down(medium) {
            font-size: 45px;
        }
        @include breakpoints-down(small) {
            font-size: 40px;
        }
    }

    & .card-text {
        color: #fffdfd;
        font-weight: 400;
        font-size: 25px;
        @include breakpoints-down(medium) {
            font-size: 25px;
        }
        @include breakpoints-down(small) {
            font-size: 20px;
        }
    }

    button {
        background: $button-color !important;
        padding: 10px 50px;
        font-size: 20px;
        border-radius: 20px;
        color: #fffdfd;
        border: none;
        margin-bottom: 10px;

        @include breakpoints-down(medium) {
            font-size: 20px;
        }
        @include breakpoints-down(small) {
            font-size: 20px;
        }
    }
}
