.nav {
    @include max-width;
    padding: 10px 0px;

    img {
        width: 120px;
        height: 60px;
        @include breakpoints-down(small) {
            width: 200px;
        }
        @include breakpoints-down(x-small) {
            width: 120px;
        }
    }
    &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
        @include breakpoints-down(medium) {
            transition: all 0.5s;
            transform: translateX(-1000%);
            background-color: $primary-bg;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow-y: auto;
            z-index: 900;
        }
        > a {
            color: #555555;
            margin-left: 30px;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none !important;
            @include breakpoints-down(medium) {
                color: white;
                margin-left: 0px;
                font-size: 20px;
                margin: 10px 0px;
                &:hover {
                    color: white;
                }
            }
        }
        > a:last-child {
            color: white;
            background-color: $button-color;
            padding: 10px 15px;
            border-radius: 15px;
            text-decoration: none;
        }
    }
}

.hamburger__menu__active {
    @include breakpoints-down(medium) {
        transform: translateX(-0%) !important;
    }
}

//design for mobile for hamburger
.menu-wrapper {
    background-color: white;
    display: none;
    place-items: center;
    width: 55px;
    height: 55px;
    margin: auto 0px;
    border-radius: 50px;
    box-shadow: 0 1px 15px #7889b6;
    cursor: pointer;
    z-index: 1000;

    @include breakpoints-down(medium) {
        display: grid;
        position: fixed;
        top: 10px;
        right: 15px;
    }
    .hamburger-menu {
        width: 25px;
        height: 5px;
        position: relative;
        background-color: $primary-bg;
        transition: all 5ms 300ms;
        border-radius: 2px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 20px;
            height: 5px;
            background-color: $primary-bg;
            border-radius: 2px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 30px;
            height: 5px;
            background-color: $primary-bg;
            border-radius: 2px;
        }
        &.animate {
            background: rgba(255, 255, 255, 0);
        }
        &.animate:after {
            top: 0;
            width: 30px;
            transform: rotate(45deg);
            -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &.animate:before {
            bottom: 0;
            width: 30px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

.nav__container {
    height: 30px;
    @include breakpoints-up(large) {
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
        right: 0px;
        background-color: white;
        min-height: 80px;
        z-index: 1000;
    }
}
